.u-section-1 {
  background-image: url("images/gdfa9f5ac4ac6df8dfd8389f9829d67631ca10e9cdc5e4fd01f061885af289836a726b770040dd8bb84e8e6f9b20525cf538cedbe2cfca269740b4d8f4b1f1c63_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 772px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  background: transparent;
  margin: 100px 0 0 631px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 214px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  margin: 22px 631px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 431px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 211px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 176px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 138px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-2 .u-image-1 {
  width: 652px;
  height: 652px;
  background-image: url("images/pexels-photo-1608099.jpeg");
  background-position: 50% 50%;
  margin: 60px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 733px;
  min-height: 324px;
  margin: 0 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 1px;
}

.u-section-2 .u-text-1 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 23px 566px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 10px 45px 10px 44px;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 553px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 373px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 173px;
  }
}.u-section-3 {
  min-height: 500px;
}

.u-section-3 .u-gallery-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 500px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 412px;
  }

  .u-section-3 .u-gallery-1 {
    height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 947px;
  }

  .u-section-3 .u-gallery-1 {
    height: 947px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 2131px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2131px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1342px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1342px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1208px;
}

.u-section-4 .u-image-1 {
  height: 665px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -309px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 378px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 378px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(2, 2, 2) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 375px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 371px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-8 {
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-2 {
  width: 1140px;
  margin: 40px auto 44px;
}

.u-section-4 .u-layout-cell-9 {
  min-height: 295px;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  text-transform: none;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 316px;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 29px;
}

.u-section-4 .u-text-10 {
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  margin: 0 2px 0 0;
}

.u-section-4 .u-text-11 {
  margin: 30px 2px 0 0;
}

.u-section-4 .u-btn-5 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 41px auto 0 0;
  padding: 10px 45px 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 1070px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 309px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 306px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 82px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 243px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 261px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 964px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1461px;
  }

  .u-section-4 .u-image-1 {
    object-position: 3.83% 0%;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1261px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-4 .u-text-9 {
    font-size: 3.75rem;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 674px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 343px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-line-1 {
  height: 233px;
  transform-origin: center top;
  width: 11px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 343px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: none;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 0 0;
  padding: 10px 45px 10px 44px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 343px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 167px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 485px;
  background-image: url("images/Untitled-3.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 60px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-5 .u-image-1 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-5 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 266px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 264px;
  }
}.u-section-6 {
  background-image: url("images/pexels-photo-7672111.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 804px;
}

.u-section-6 .u-group-1 {
  width: 536px;
  min-height: 412px;
  background-image: none;
  margin: 60px 0 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 18px auto 0;
  padding: 10px 45px 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-6 .u-group-1 {
    width: 518px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-6 .u-group-1 {
    width: 458px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-6 .u-group-1 {
    width: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    background-position: 37.07% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 67px;
    min-height: 422px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 316px;
}

.u-section-7 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 60px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 4.5rem;
  width: 780px;
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
  padding: 10px 45px 10px 44px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    font-size: 3.75rem;
  }
}